<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
  <link href="main.css" rel="stylesheet" type="text/css" media="all" />
  <link href="progress.css" rel="stylesheet" type="text/css" media="all" />


</head>
<body>

  <script>
  function navigate(pid) {
    document.chartForm.projectId.value = pid;
    document.getElementById("chartForm").submit();
  }  
  </script>

  <% include ./partials/leftpane.ejs%>

  <div class="split right">
     
    <div id="header" class="container">
      <div id="logo">
        <div class="title">
          <h2>Welcome to the colloborative world </h2>
        </div>
      </div>
    </div>
  
    <div class="title"> 
      <h3> Completion Status </h3>
    </div>

    <div id="page-wrapper">
      
      <form name="chartForm" id="chartForm" action="/completion" method="GET" >
      <input type="hidden" name="projectId" id="projectId" value=""> 

      <div class="table-header">
        Sprint 
        <select name="sprintFilter">
        <% 
            for(let s of sprints ) {
            let isSelect = "";
            if(sprintFilter && sprintFilter === s.id) {
                isSelect = "selected";
            }
        %>
            <option value=<%=s.id %> <%= isSelect %>> <%= s.name %> </option>
        <%
            }
        %> 
        </select>
        <input type="submit" name="go" class="jdamGreen" value="Go">

      </div>

      <div style="padding-left: 3%; padding-top: 3%">
        <div class="w3-container">
            <table style="width: 90%">
                <tr style="text-align: left; font-size: larger;">
                    <th> </th>
                    <th style="padding: 20px;"> Project </th>
                    <th style="padding: 20px;"> Completed </th>
                    <th style="padding: 20px;"> </th>
                </tr>

            
              <% let counter = 1;
               for(const d of data) { 
               const completed = d.completionCount;
               const total = d.totalTests;

               let finishPercent = (total > 0) ? (completed)/total * 100 : 0;
               finishPercent = Math.round(finishPercent);

               let percentageValue = finishPercent;

               const percentMod = finishPercent % 10;

               // round off percentage to nearest 0

               if(percentMod > 0) {
                 if(percentMod < 5) {
                    percentageValue = finishPercent - percentMod;
                 } else { 
                    percentageValue = finishPercent + (10 - percentMod);
                 }
              }
              let colorCode;
              if (percentageValue < 30) {
                  colorCode = 'red';
              } else if (percentageValue > 30 && percentageValue <= 40 ) {
                colorCode = 'blue-grey';
              }           
              else if (percentageValue > 40 && percentageValue <= 50 ) {
                colorCode = 'amber';
              }           
              else if (percentageValue > 50 && percentageValue <= 60) {
                colorCode = 'orange';
              }
              else if (percentageValue > 60 && percentageValue <= 75) {
                colorCode = 'yellow';
              }
              else if (percentageValue > 75 && percentageValue <= 90) {
                colorCode = 'purple';
              }              
              else if (percentageValue > 90) {
                colorCode = 'green';
              }  
              
              let msg = `${completed} / ${total}`;
              

          %>

        <tr style="text-align: center"> 
            <td style="padding: 10px;"> 
                <%=counter%>
              </td>
          <td style="padding: 10px;"> 
            <%=d.project.name%>
          </td>
          <td style="padding: 10px;"> 
                <%=msg%>
          </td>
              

          <td style="width: 75%; padding: 10px "> 
            <div class="w3-light-grey w3-tiny">
              <div class="w3-container w3-<%=colorCode%> w3-center w3-round-xlarge " style="width:<%=percentageValue%>%"> 
                <%=percentageValue%>%
            </div>
            </div>
                  
          </td>
          
        </tr>

          <% counter++; } %>

        </TABLE>

      </div>
    </div> 
    </form>
  </div>
</div>

</body>
</html>