<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
  <link href="main.css" rel="stylesheet" type="text/css" media="all" />
  <link href="chart.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>

  <script>
  function navigate(pid) {
    document.chartForm.projectId.value = pid;
    document.getElementById("chartForm").submit();
  }  
  </script>

  <% include ./partials/leftpane.ejs%>

  <div class="split right">
  
    <div class="title"> 
      <h3> Scoreboard </h3>
    </div>

    <div id="page-wrapper">
      
      <form name="chartForm" id="chartForm" action="/dashboard" method="GET" >
      <input type="hidden" name="projectId" id="projectId" value=""> 

      <div class="table-header">
        Sprint 
        <select name="sprintFilter">
        <% 
            for(let s of sprints ) {
            let isSelect = "";
            if(sprintFilter && sprintFilter === s.id) {
                isSelect = "selected";
            }
        %>
            <option value=<%=s.id %> <%= isSelect %>> <%= s.name %> </option>
        <%
            }
        %> 
        </select>
        <input type="submit" name="go" class="jdamGreen" value="Go">

      </div>

      <div style="padding-left: 5%; padding-top: 3%">
        <div class="row">
          <% for(const d of data) { 
               const passCount = parseInt(d.passCount);
               const totalCount = parseInt(d.totalCount);

               let passPercent = (totalCount > 0) ? passCount/totalCount * 100 : 0;
               passPercent = Math.round(passPercent);

               let cssPercentageValue = passPercent;

               const percentMod = passPercent % 10;

               if(percentMod > 0) {
                 if(percentMod < 5) {
                   cssPercentageValue = passPercent - percentMod;
                 } else { 
                   cssPercentageValue = passPercent + (10 - percentMod);
                 }
              }           
          %>

            <div class="column" onclick="navigate('<%=d.project.id%>');">
              

              <h2> <%=d.project.name%>  </h2>
              <p> <%=passCount%> out of <%=totalCount%> tests passed.   </p>
              <div class="set-size charts-container">
                <div class="pie-wrapper progress-<%=cssPercentageValue%>">
                  <span class="label"><%=passPercent%><span class="smaller">%</span></span>
                  <div class="pie">
                    <div class="left-side half-circle"></div>
                    <div class="right-side half-circle"></div>
                  </div>
                </div>
              </div>
            </div>

          <% } %>

      </div>
    </div> 
    </form>
  </div>
</div>

</body>
</html>