<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
        <link href="main.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="jdam.js"></script>

</head>
<body>

  <script>
    
    function resetProjectFilter() {
      document.getElementById('projectFilter').value = '-';
    }
  </script>
  

    <% include ./partials/leftpane.ejs%>


    <div class="split right">

   
      <div id="header" class="container">
        <div id="logo">
            <div class="title">
              <h2>Welcome to the colloborative world </h2>
            </div>
        </div>
      </div>
  
    <div class="title"> 
      <h3> Test Results </h3>
  
    </div>

    <% include ./partials/snackbar.ejs%>


    <div id="page-wrapper">
        
        <form action="/home" method="GET">
          <div class="table-header">
            

            <div >
              
              <table style="width: 90%">
                <tr> 
                  <td style="width: 20%"> 
                    Sprint 
                    <select name="sprintFilter" id="sprintFilter" onchange="resetProjectFilter();">
                    <% 
                        for(let s of sprints ) {
                        let isSelect = "";
                        if(sprintFilter && sprintFilter === s.id) {
                            isSelect = "selected";
                        }
                    %>
                        <option value=<%=s.id %> <%= isSelect %>> <%= s.name %> </option>
                    <%
                        }
                    %> 
                    </select>
                      
                  </td>
                  <td> 
                      <input type="submit" name="go" class="jdamGreen" value="Go" style="margin-top: 1em;">
                  </td>
                  <td style="width: 40%">
                   
                    </select>
                  </td> 
                  <td> 
                    

                  </td>
                  <td style="width: 20%">   


                    Project
                    <select name="projectFilter" id="projectFilter">
                      <option value="-"> --- Select --- </option>
                    <% 
                        for(let p of projects ) {
                        let isSelect = "";
                        if(projectFilter && projectFilter === p.id) {
                            isSelect = "selected";
                        }
                    %>
                        <option value=<%=p.id %> <%= isSelect %>> <%= p.name %> </option>
                    <%
                        }
                    %> 
                      </select>
                      
                   </td>
                  <td> 
                    <% const isEnabled = (projects && projects.length) > 0 ? 'enabled' : 'disabled'; 
                      %>
                    <input type="submit" name="go" class="jdamGreen" value="Go" style="margin-top: 1em;" <%=isEnabled%> > </td>
                </tr>
              </table>
                
               
            </div>

                              
          
          </div>
              
           <table class="jdamTable"> 
              <thead> 
                <TR>
                  <TH>ID </TH>
                  <TH> Title </TH>
                  <TH> Identifier</TH>
                  <TH> Status</TH>
                  <TH> Build </TH>
                  <TH> Last Updated By </TH>
                  <TH> Last Updated </TH>
                  </TR>
              </thead>
                     
              <tbody> 
                    
                <% if(results) {             
                 for(let r of results ) { 
                   const friendlyDate = (r.lastUpdated) ? new Date(r.lastUpdated).toUTCString() : '';
                   const username = (r.lastUpdatedBy && r.lastUpdatedBy.length > 16) ? r.lastUpdatedBy.substring(0,10) + '...' : r.lastUpdatedBy;
                %>
                <TR> 
                  <TD> <a href="./editTest.html?testId=<%=r.testId%>"> <%= r.testId %> </a>  </TD>
                  <% const titleStr = (r.title.length > 75 ) ? r.title.substring(0,74) + '...' : r.title; %>
                  <TD> <%= titleStr %> </TD>
                  <TD> <%=r.identifier%> </TD>
                  
                  <TD> 
                              
                  <% let fontColor = 'color:grey';
                     if(r.status === 'PASS') { fontColor = 'color:green' }
                     if(r.status === 'FAIL') { fontColor = 'color:red'} 
                     const statusStr = (r.status) ? r.status : 'NO RUN';
                   %>
                   <b> <font style=<%=fontColor%>> <%= statusStr %>  </font> </b>
                              
                          
                  </TD>
                  <TD> <%=r.build%> </TD>
                  <td> <%=username%> </td>
                  <TD> <%=friendlyDate%> </TD>
                </TR>
                 <% } 
                 
                    }%>
              
                    </tbody>
              
                  </table>

                  <% if (!results || (results && results.length === 0)) { %>
                  <div style="margin-left: 3em; margin-top: 2em;"> 
                    <p> No tests to show. Please use the dropdown above to select a project.  </p>
                  </div>
                  <% } %>
                            
              </form>

    </div>

    <% const helpText = { title: 'Welcome to testjam!',
    body : [` 
    The Home page consists of 2 sections - left panel that contains links to navigate to other areas, and right section which shows the list of tests for each project 
    from the project filter dropdown.`,
    `You can use the Add Test button below the table to create a test in the selected project.`]};
    %>

    <% include ./partials/help.ejs%>
    

    </div>

    <script>
      ( function() {
        showSnackbar();
      })()
    </script>

</body>
</html>