<!DOCTYPE html>
<html>
<head>
        <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
        <script type="text/javascript" src="jdam.js"></script>
        <link rel="stylesheet" type="text/css" href="/main.css"> 

</head>
<body>

  <script>
    function toggle(element) {
      var allRows = document.getElementsByName('deleteTestId');
      for( const r of allRows) {
        r.checked = element.checked;
      }
    }
  </script>

    <% include ./partials/leftpane.ejs%>


    <div class="split right">
     
  
      <% include ./partials/snackbar.ejs%>


    <div id="page-wrapper">
        
        <form action="/project" method="POST">
        
         <input type="hidden" name="projectId" value="<%=project.id%>">
         <div class="section-header">
            <a href="/projects.html"> Back to All Projects </a>

         </div>
         <div class="section-header" >
           <table style="width: 90%">
            <tbody>
              <tr>
                <td>
                    Project : <b>  <%=project.name%> </b>
                </td>
                <td style="text-align: right;">
                    <input type="submit" name="addTest" id="addTest" class="jdamGreen" value="Add Test">
                </td>
              </tr>
            </tbody>

           </table>
           
         </div>
        

         <% if(tests && tests.length > 0)
           { %>
          <hr style="margin-bottom: 50px;">
          
          <div class="table-header">

            <div style="float: left; width: 100%"> 
              <table style="width: 90%">
                <tr>
                  <td>  </td>
                  <td style="text-align: right">  <input type="submit" name="deleteTest" id="deleteTest" class="jdamRed" value="Delete Tests"> </td>
                </tr>
              </table>
              
            </div>


          </div>
              
           <table class="jdamTable"> 
              <thead> 
                <TR>
                  <TH> </TH>
                  <TH> Title </TH>
                  <TH> Description</TH>
                  <TH> Test ID </TH>
                  <TH> Identifier</TH>
                  <TH>  <input type="checkbox" name="selectAll" id="selectAll" onclick="toggle(this)"> </TH>
                  </TR>
              </thead>
                     
              <tbody> 
                    
                <% if(tests) {
                  let counter = 1;             
                 for(let t of tests ) { 
                   %>
                <TR> 
                  <TD>  <%=counter%>  </TD>
                  <TD> <%= t.title %> </TD>
                  <TD> <%= t.desc %> </TD>
                  <TD> <a href="./editTest.html?testId=<%=t.id%>"> <%= t.id %> </a> </TD>
                  <TD> <%=t.identifier%> </TD>
                  <TD> <input type="checkbox" name="deleteTestId" value="<%= t.id %>"> </TD>

                </TR>
                 <% counter++; } 
                 
                    }%>
              
                    </tbody>
              
            </table>

            <% } %>


            <hr style="margin-top: 50px;">

            <div class="section-header ">
              Settings :  
            </div>

            <div class="table-footer">
              <table>
                <tr>
                  <td>
                      <input type="text" name="newProjectName" id="newProjectName">

                  </td>
                  <td> 
                      <input class="jdamGrey" type="submit" name="renameProject" id="renameProject" value="Rename Project">

                  </td>
                </tr>
              </table>
             </div>
              
                <% if(tests && tests.length === 0) { %>
                  <div class="table-footer">
                  <input class="jdamRed" type="submit" name="deleteProject" id="deleteProject" value="Delete Project">
                  <p> <font style="color: red;"> This is a non-reversible action. </font>  </p>
                  </div>
              
                  <% } else {%>
              
                    <p> <font style="color: red;"> This project cannot be removed since it has tests associated with it. </font>  </p>
                  <% } %>
              
              </form>

    </div>


    <% const helpText = { title: 'Delete Tests & Settings',
    body : [` 
    Use the checkboxes to remove multiple tests. NOTE: This is in a non-recoverable operation. `,
    `You can delete a project only after deleting all associated tests.`]};
    %>

    <% include ./partials/help.ejs%>

    </div>


 <script>
   ( function() {
       showSnackbar();
     })()
 </script>


</body>
</html>