<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="./main.css"> 
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
    <script type="text/javascript" src="jdam.js"></script>

</head>
<body>

<% include ./partials/leftpane.ejs%>


  <div class="split right">

    <div class="title"> 
      <h3> Run Test </h3>     
    </div>

    <% include ./partials/snackbar.ejs%>


    <div style="display: flex;">

      <div id="page-wrapper" style="flex: 1;">


        <form action="/runTest" method="POST" id="runTestForm">
        <table class="formTable"> 
            
          <TR>
            <TD>ID </TD>
            <TD> <input type="text" name="testId" id="testId" value="<%=test.id%>" readonly> </TD>
          </TR>
  
          <TR>
            <TD> Name </TD>
            <TD> <input type="text" name="title" id="title" value="<%=test.title%>"  readonly> </TD>      
          </TR>
  
          <TR>
            <TD> Identifier </TD>
            <TD> <input type="text" name="identifier" id="identifier" value="<%=test.identifier%>" readonly> </TD>
          </TR>

          <TR>
            <TD> Build </TD>
            <TD> <input type="text" name="build" id="build" maxlength="25" style="border-bottom-color: red" > </TD>
          </TR>

          <TR>
            <TD> Sprint</TD>
            <TD> 
            <select name="sprint" id="sprint" style="border-bottom-color: red"> 
    
                <% for(let s of sprints) { 
                %>
                <option value="<%=s.id%>"> <%=s.name%> </option>
                    
                <% } %>
                    
            </select>      
            </TD>
          </TR>
            
          <TR>
            <TD> Status</TD>
            <TD> 
            <select name="status" id="status" style="border-bottom-color: red"> 
    
                <% for(let s of statuses) { 
                    let label = s.split('#')[1]; 
                    let value = s.split('#')[0]; 
                %>
                <option value="<%=value%>"> <%=label%> </option>
                    
                <% } %>
                    
            </select>      
            </TD>
          </TR>
            
        </table>
            
        <div class="table-footer">
          <input type="submit" name="cancelRun" id="cancelRun" value="Cancel" class="jdamGrey">    
          <input type="submit" name="runTest" id="runTest" value="Save" class="jdamGreen" > 
          

        </div>
            
      </form>
    </div>


    <% const helpText = { title: 'Execute Test',
    body : [` You can execute a test to create a test run. The history of runs can be seen in the Edit test page.` ,
    `Build number is mandatory parameter when executing a test.`]};
    %>

    <% include ./partials/help.ejs%>

   

    </div>

</div>
   
<script>
    ( function() {
      showSnackbar();
    })()
  </script>

</body>
</html>